header{
    background-color: rgb(59, 56, 56);
    color: white;
    padding: 10px;
}

nav{
    background-color: rgb(104, 99, 99);
    color: white;
    padding: 5px;
}
nav ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}

footer{
    background-color: rgb(63, 60, 60);
    color: white;
}